.app-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-layout-container {
  flex-grow: 1;
  margin-top: 2rem;
  /* min-height: 82vh; */
  /* text-align: center; */
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
